{% extends 'store/main.html' %}
{% load static %}
{% block page_content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<div class="box-element product">
  				<img src="{{product.imageURL}}" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">{{product.name}}</h5>
    				<p class="card-text">{{product.description}}</p>
    				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>{{product.price|floatformat:2}}</strong></h4>
  				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock page_content %}