{% extends 'store/main.html' %}
{% load static %}
{% block page_content %}
	<div class="row">
		<div class="col-lg-4">
			<div class="box-element product">
  				<img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Название карточки</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
  				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
  				<img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Название карточки</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
  				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
  				<img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Название карточки</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
  				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}